%%-*- mode: erlang -*-
{port_specs, [{"priv/flussonic_ffmpeg", ["c_src/ffmpeg.c", "c_src/debug_loop.c", "c_src/ffmpeg_io.c", "c_src/reader.c"]}]}.
{port_env, [
  {"CFLAGS", "$CFLAGS -g"},
  {"LDFLAGS", "$LDFLAGS -lavcodec -lavutil -g"}
]}.

{erl_opts, [
            debug_info,
            {parse_transform, lager_transform},
            warnings_as_errors,
            warn_format,
            %% warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash
            %% warn_missing_spec,
            %% warn_untyped_record
           ]}.


%{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
%{cover_enabled, true}.
