/* Override here any style defined by web-app-theme */

#header {
  padding-left: 90px;
  background-image: url("/flu/erly-small.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
}

#wrapper {
  padding: 0 40px;
}

#main {
  width: 100%;
}

.table td {
  border-left: 1px solid #EAEAEA;
}

.table th {
  border-left: 1px solid white;
}

.table td.first, .table th.first {
  border-left: none;
}

.table th.first {
  width: auto;
}

#license-tab .column {
  width: 300px;
  float: left;
}

#license-tab .navform {
  clear: both;
}

.stream-play a {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.stream-play a span {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: white;
  background-image: url("/flu/images/sprite.png");
  padding-left: 20px;
  overflow: hidden;
}

#player-embed a {
  display: block;
  width: 800px;
  height: 650px;
}

.stream-play a .hds {background-position: 0 0;}
.stream-play a .rtmp {background-position: -20px 0;}
.stream-play a .hls {background-position: -40px 0;}
.stream-play a .dvr {background-position: -60px 0;}

#stream-list .lifetime, #stream-list .ts_delay, #stream-list .retry_count {
  text-align: right;
  font-family: fixed;
  font-size: 14px;
}


#pulse-stats {
  margin-left: 40px;
}

#pulse-tab {
  padding-bottom: 40px;

}

#traffic-stats table {
  display: none;
}

.stats-separator {
  margin-top: 20px;
  margin-bottom: 25px;
}

