/* Override here any style defined by web-app-theme */

#header {
  padding-left: 90px;
  background-image: url("/flu/erly-small.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
}

#wrapper {
  padding-left: 40px;
  padding-right: 40px;
}

#main {
  width: 100%;
}

#player-embed div {
  text-align: center;
  padding-top: 150px;
  font-size: 32pt;
  width: 100%;
  height: 100%;

  background-image: url("/flu/images/spinner.gif");
  background-position: center;
  background-repeat: no-repeat;
}

.table td {
  border-left: 1px solid #EAEAEA;
}

.table th {
  border-left: 1px solid white;
}

.table td.first, .table th.first {
  border-left: none;
}

.table th.first {
  width: auto;
}

#license-tab .column {
  width: 300px;
  float: left;
}

#license-tab .navform {
  clear: both;
}

.stream-play a, .stream-restart a {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.stream-play a span, .stream-restart a span {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: white;
  background-image: url("/flu/images/sprite.png");
  padding-left: 20px;
  overflow: hidden;
}

#player-embed a {
  display: block;
  width: 800px;
  height: 650px;
}

.stream-play a .hds {background-position: 0 0;}
.stream-play a .rtmp {background-position: -20px 0;}
.stream-play a .hls {background-position: -40px 0;}
.stream-play a .dvr {background-position: -60px 0;}
.stream-play a .dvr {background-position: -60px 0;}
.stream-play a .rtsp {background-position: -80px 0;}
.stream-restart a .restart {background-position: -100px 0;}


#stream-list .lifetime, #stream-list .ts_delay, #stream-list .retry_count {
  text-align: right;
  font-family: fixed;
  font-size: 14px;
}


#pulse-stats {
  margin-left: 40px;
}

#pulse-tab {
  padding-bottom: 40px;

}

#traffic-stats table {
  display: none;
}

.stats-separator {
  margin-top: 20px;
  margin-bottom: 25px;
}



.tabbed-menu li {
  border-right: 1px #D0D0D0 solid;
}

.tabbed-menu li:hover {
  background-color: #C0C0C0;
}

#upload-ticket {
  font-size: 18pt;
}

#upload-ticket.loading {
  background: url("/flu/images/spinner.gif") no-repeat;
}

/* button */


.push_button {
  position: relative;
  width:420px;
  height:40px;
  text-align:center;
  color:#FFF;
  text-decoration:none;
  line-height:43px;
  font-family:'Oswald', Helvetica;
  font-size: 20pt;
  display: block;
  margin: 30px;
}
.push_button:before {
  background:#f0f0f0;
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));
  
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  
  -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
  -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
  box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
  
  position: absolute;
  content: "";
  left: -6px; right: -6px;
  top: -6px; bottom: -10px;
  z-index: -1;
}

.push_button:active {
  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
  top:5px;
}
.push_button:active:before{
  top: -11px;
  bottom: -5px;
  content: "";
}

.red {
  text-shadow:-1px -1px 0 #A84155;
  background: #D25068;
  border:1px solid #D25068;
  
  background-image:-webkit-linear-gradient(top, #F66C7B, #D25068);
  background-image:-moz-linear-gradient(top, #F66C7B, #D25068);
  background-image:-ms-linear-gradient(top, #F66C7B, #D25068);
  background-image:-o-linear-gradient(top, #F66C7B, #D25068);
  background-image:linear-gradient(to bottom, #F66C7B, #D25068);
  
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  
  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
  box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
}

.red:hover {
  background: #F66C7B;
  background-image:-webkit-linear-gradient(top, #D25068, #F66C7B);
  background-image:-moz-linear-gradient(top, #D25068, #F66C7B);
  background-image:-ms-linear-gradient(top, #D25068, #F66C7B);
  background-image:-o-linear-gradient(top, #D25068, #F66C7B);
  background-image:linear-gradient(top, #D25068, #F66C7B);
}

.blue {
  text-shadow:-1px -1px 0 #2C7982;
  background: #3EACBA;
  border:1px solid #379AA4;
  background-image:-webkit-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:-moz-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:-ms-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:-o-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:linear-gradient(top, #48C6D4, #3EACBA);
  
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  
  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

.blue:hover {
  background: #48C6D4;
  background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
  background-image:-moz-linear-gradient(top, #3EACBA, #48C6D4);
  background-image:-ms-linear-gradient(top, #3EACBA, #48C6D4);
  background-image:-o-linear-gradient(top, #3EACBA, #48C6D4);
  background-image:linear-gradient(top, #3EACBA, #48C6D4);
}