%%-*- mode: erlang -*-
{lib_dirs, ["apps","deps"]}.
{sub_dirs, [
  "apps/dvr",
  "apps/hls",
  "apps/rtmp",
  "apps/rtsp",
  "apps/rtp",
  "apps/mpegts",
  "apps/amf",
  "apps/http_bench",
  "apps/erlmedia",
  "apps/playlist",
  "apps/http_file",
  "apps/gen_tracker",
  "apps/flussonic"
]}.
{erl_opts, [debug_info, {i, "apps"}, {i, "apps/cowboy/include"}, {parse_transform, lager_transform}, warnings_as_errors]}.

{deps, [
	{lager, ".*", {git, "https://github.com/basho/lager", "0b797bc"}},
  {cowboy,    "0.6.*", {git, "git://github.com/extend/cowboy.git", {tag, "0.6.1"}}},
  {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {tag, "0.9"}}},
  {meck, ".*", {git, "git://github.com/eproxus/meck.git", "beb8d14e59"}}
]}.
