%%-*- mode: erlang -*-
{lib_dirs, ["apps","deps"]}.
{sub_dirs, [
  "apps/dvr",
  "apps/iptv",
  "apps/hls",
  "apps/rtmp",
  "apps/rtsp",
  "apps/rtp",
  "apps/mpegts",
  "apps/amf",
  "apps/http_bench",
  "apps/erlmedia",
  "apps/playlist",
  "apps/http_file",
  "apps/gen_tracker",
  "apps/flussonic"
]}.
{erl_opts, [debug_info, {i, "apps"}, {i, "apps/cowboy/include"}, {parse_transform, lager_transform}, warnings_as_errors]}.

{deps, [
  {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "2ef2f7d3b4"}},
  {parsexml, ".*", {git, "git://github.com/maxlapshin/parsexml.git", "264da95bfa"}},
  {meck, ".*", {git, "git://github.com/eproxus/meck.git", "beb8d14e59"}},
  {lager, ".*", {git, "https://github.com/basho/lager", "0b797bc"}},
  {ranch,    ".*", {git, "git://github.com/extend/ranch.git", "c3133bfbc3"}},
  {cowboy,    ".*", {git, "git://github.com/extend/cowboy.git", "d3277b08ce"}},
  {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {tag, "0.9"}}}
]}.
