%%-*- mode: erlang -*-
{lib_dirs, ["apps","deps"]}.
{sub_dirs, [
  "apps/dvr",
  "apps/iptv",
  "apps/hls",
  "apps/rtmp",
  "apps/rtsp",
  "apps/mpegts",
  "apps/amf",
  "apps/http_bench",
  "apps/erlmedia",
  "apps/playlist",
  "apps/http_file",
  "apps/gen_tracker",
  "apps/pulse",
  "apps/flussonic"
]}.
{erl_opts, [debug_info, {i, "apps"}, {i, "apps/cowboy/include"}, {parse_transform, lager_transform}, warnings_as_errors]}.

{deps, [
  {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "2ef2f7d3b4"}},
  {parsexml, ".*", {git, "git://github.com/maxlapshin/parsexml.git", "264da95bfa"}},
  {meck, ".*", {git, "git://github.com/eproxus/meck.git", "beb8d14e59"}},
  {lager, ".*", {git, "git://github.com/basho/lager", "e749242087"}},
  {ranch,    ".*", {git, "git://github.com/extend/ranch.git", {tag,"0.6.1"}}},
  {cowboy,    ".*", {git, "git://github.com/extend/cowboy.git", "855e9652fa"}},
  {erlcloud,  ".*", {git, "git://github.com/gleber/erlcloud.git", "7b16d89948"}},
  {lhttpc,    ".*", {git, "git://github.com/erlyvideo/lhttpc"}},
  {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {tag, "1.0"}}}
]}.
