Source: flussonic
Priority: extra
Maintainer: Max Lapshin <info@erlyvideo.org>
Build-Depends: debhelper (>= 7), erlang-nox (>= 1:15) | erlang (>= 1:15), erlang-dev, make
Section: net
Vcs-Git: git://github.com/erlyvideo/flussonic
Homepage: http://erlyvideo.org/

Package: flussonic
Section: net
Homepage: http://erlyvideo.org/
Depends: ${misc:Depends}, erlang-nox (>= 1:15) | erlang (>= 1:15)
Architecture: all
Description: videostreaming server in Erlang
 It can stream RTSP, RTMP, MPEG-TS streams and files
 via HDS and HLS to thousands of connected users

